# Specify those database params
POSTGRES_PORT=your_host(integer)
POSTGRES_USER=your_user(string)
POSTGRES_PASSWORD=your_password(string)

# Don`t specify this params, they are default for the project
POSTGRES_HOST=subscriptions_db
POSTGRES_DB=subscriptions_db

# Specify the minimum and maximum possible number of connections to the database (integer)
POSTGRES_MIN_CONNS=min_conns
POSTGRES_MAX_CONNS=max_conns

# Specify server port(integer)
SERVER_PORT=your_port


# Below is an example of filling out the .env file.
POSTGRES_HOST=subscriptions_db
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=1234
POSTGRES_DB=subscriptions_db
POSTGRES_MIN_CONNS=1
POSTGRES_MAX_CONNS=10
SERVER_PORT=8080